.container{
    width: 100%;
    margin:auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxes{
   border: 5px solid white ;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px silver;
    transition: 300ms all;
    background-size: cover;
    background-position: center;
    background-color: #334145;
}
.box-content{
background-color: white;
padding: 10px 5px;
text-align: center;
width: 100%;
transition: 300ms all;
}